body{background-color:teal;}

p{
    font-family: Calibri;
}

ol{
    font-family: fantasy;
    color:tomato

}

ul{
font-family: initial;
color:yellow;

}

h1{
    font-family: Verdana;
    color: black;
    font-weight: bolder;
}